<li>

  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: { confim: "You sure?" } %>
      |  <%= link_to "make admin",make_admin_users_path, method: :put,:id => user, data: { confirm: "Sure?" } %>
  <% end %>
</li>